* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lftBox {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 70px;
    background: #ececec73;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 15px;
}

.interactionMode {
    margin-bottom: 20px;
    margin-left: 15%;
}

.interactionMode label {
    display: block;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    background-color: #fff;
    border-radius: 20px;
}


.uploadFileBox {
    text-align: center;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    border: 1px dashed rgb(77, 77, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uploadFileBox label {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    margin: 5%;
    cursor: pointer;
}

.display-name {
    font-size: 12px;
    line-height: 16px;
}

.select-file {
    width: 70%;
    margin-left: 10%;
    padding: 3%;
    word-wrap: break-word;
    text-wrap: wrap;
    color: blue;
}

.button-container {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.remove-button,
.submit-button {
    padding: 4%;
    
    color: #896aef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    height: 5vh;
}

.remove-button {
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    background-color:red;
    border: none;
    margin-bottom: 2%;
}

.remove-button:active {
    background-color: red;
    color: white;
}

.submit-button {
     height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    background-color: #673AB7;
    border: none;
    margin-bottom: 2%;
}

.submit-button:active {
    background-color: #007bff;
    color: white;
}



.rghtBox {
    display: inline-block;
    position: absolute;
    width: 80%;
    height: 85%;
    left: 26%;
    top: 12%;
    left: 26%;
    top: 12%;
}

.header {
    width: 100%;
    height: 9vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px 20px 70px;
}

.header-logo {
    background-image: url(../src/img/logo.png);
    background-size: cover;
    width: 45px;
    height: 45px;
}

.app-name {
    margin: 5%;
}

.header-content {
    flex-direction: row;
    display: flex;
    width: 11vw;
    justify-content: space-between;
}

.profileImage {
    width: 10%;
    height: 10%;
}

.profilename {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 10%;
}

.profileImage img {
    background-size: cover;
    background-repeat: no-repeat;
}



.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.dropdown-menu {
    position: absolute;
    width: 125%;
    z-index: 5;
    margin-top: 5%;
    top: 100%;
    right:8%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    list-style-type: none;
}

.dropdown-menu li {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.dropdown-menu li svg {
    margin-right: 10px;
}

.img-container {
    width: 100%;
}

.col-1 {
    flex: 1;
}

.msg-row {
    flex-basis: 250px;
    background: #3874c9;
}

.select-sheets {
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 80%;
    margin-left: 4%;
}

.css-1fdsijx-ValueContainer {
    height: 3vh;
    display: block !important;
    /* overflow: visible !important; */
    text-wrap: wrap;
    word-wrap: break-word;
}


.select-sheets .selection__control:hover {
    border-color: #66afe9;
}

.select-sheets .selection__control--is-focused {
    box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.5);
}

.select-sheets .selection__option {
    background-color: white;
    color: black;
}

.select-sheets .selection__option--is-selected {
    background-color: #66afe9;
    color: white;
}

.select-sheets .selection__option:hover {
    background-color: #66afe9;
    color: white;
}


.remove-file-alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.remove-file-alert {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.remove-file-alert p {
    margin-bottom: 10px;
}

.alert-buttons {
    display: flex;
    justify-content: center;
}

.confirm-button,
.cancel-button {
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}

.confirm-button {
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: #fff;
}

.cancel-button {
    border: 2px solid #f44336;
    background-color: #f44336;
    color: #fff;
}

#message-form {
    width: 100%;
}

.user-input:hover {
    outline: 2px solid rgb(158, 158, 158);
}

.msg-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.sendbtn {
    width: 4.5%;
    min-height: 36px;
    position: absolute;
    left: 69.5%;
    bottom: 1.8%;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
}

.sendbtn img {
    width: 55%;
    height: auto;
    opacity: 50%;
}

.sendbtn img:hover {
    width: 60%;
    height: auto;
    opacity: 50%;
}

.chatbox {
    display: flex;
    position: absolute;
    bottom: 2%;
    align-items: center;
    width: 100%;
    height: 90%;
    flex-direction: column;
}

.user-input {
    border-radius: 12px;
    font-size: 14px;
    resize: none;
    width: 60%;
    height: 80%;
    outline: 1px solid rgb(158, 158, 158);
    padding-top: 0.75%;
    padding-left: 1.5%;
    padding-right: 5%;
    margin-left: 14%;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 5%;
    width: 95%;
    margin-bottom: 2%;
    margin-right: 15%;
    margin-top: 2%;
}

.chat-bubble {
    display: flex;
    flex-direction: row;
}

.messages-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.messages-container::-webkit-scrollbar-thumb {
    background: #cac9c9;
}

.messages-container::-webkit-scrollbar-thumb:hover {
    background: #c3c0c0;
}

/* .message {
    margin-bottom: 5%;
    width: fit-content;
    max-width: 95%;
    word-wrap: break-word;
    background-color: rgb(219, 215, 215);
} */

.message {
    display: flex;
    margin-bottom: 5%;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    /* background-color: rgb(235, 234, 234); */
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;

}
table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 0;
}


.message-head {
    display: flex;
    flex-direction: row;
}

.initial {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
}

.send {
    font-weight: bold;
    padding-top: 4px;
}

.text {
    display: inline-block;
    white-space: pre-wrap;
    width: 20%;
    margin-left: 40px;
}

.message-text {
    width: 97%;
    margin-left: 2%;
}

.table{
    .message-text{
        width: 0;
    }

}

.table-container {
    margin-top: 10px;
    margin-bottom: 5%;
    overflow-x: auto;
    width: 400%;
    padding: 0%;

}

.scroll-table {
    width: 100%;
    table-layout: auto;
}

.table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.table-container::-webkit-scrollbar-track {
    background-color: transparent;
}


.table-container th,
.table-container td {
    border: 1px solid #aaaaaa;
    padding: 8px;
}

.table-container th {
    background-color: #f2f2f2;
}

.form-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.profile-container {
    width: 8%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 2%;
}

.plot-container{
    display: flex;
    justify-content: center;
    width: 100%;

    
    img{
        object-fit: fill;
    }
    

}

.plot{
    .message-text{
        width: 0;
    }
}

.user-icon {
    font-size: 25px;
    margin-top: 10%;
}

.css-13cymwt-control {
    height: 1%;
}