* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    overflow: hidden;
}

.lftBox {
    position: absolute;
    width: 25%;
    height: 100%;
    /* left: 5%; */
    top: 70px;
    background: #ececec73;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 15px;
}

.interactionMode {
    margin-bottom: 20px;
    margin-left: 15%;
}

.interactionMode label {
    display: block;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    width: 100%;
    background-color: #FFFFFF;
    outline: 2px dashed rgb(158, 158, 158);
    border-radius: 10px;
    margin-left: 11%;
}

.uploadFile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    width: 90%;
}

.select-file {
    width: 100%;
    margin-top: 7%;
}

.remove-button {
    margin-top: 10%;
    background-color: white;
    outline: 2px solid red;
    border: none;
    width: auto;
    min-width: 30%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;
}

.submit-button {
    background-color: white;
    outline: 2px solid green;
    border: none;
    width: auto;
    min-width: 30%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 4%;
    cursor: pointer;
    border-radius: 10px;
}

.rghtBox {
    display: inline-block;
    position: absolute;
    width: 75%;
    width: 75%;
    height: 85%;
    left: 26%;
    top: 12%;
    left: 26%;
    top: 12%;
}

.header {
    width: 100%;
    height: 9vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px 20px 70px;
}

.profileImage {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-color: aqua;
    display: inline-block;
    margin-top: 5px;
}

.profilename {
    display: inline-block;
    position: relative;
    top: -11px;
    left: 9px;
}

.profileImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    display: block;
    object-fit: cover;
}

.img-container {
    width: 100%;
}

.col-1 {
    flex: 1;
}

.msg-row {
    flex-basis: 250px;
    background: #3874c9;
}

.chatbox {
    display: flex;
    position: absolute;
    bottom: 7%;
    left: 5%;
    align-items: center;
    font-family: 'Poppins';
    width: 80%;
    height: 10%;
}

.user-input {
    border: none;
    border-radius: 12px;
    font-size: 16px;
    resize: none;
    outline: none;
    position: absolute;
    width: 85%;
    min-height: 60px;
    outline: 1px solid rgb(158, 158, 158);
    padding-top: 2%;
    padding-left: 2%;
    left: 12%;
}

.user-input:hover {
    outline: 2px solid rgb(158, 158, 158);
}

.msg-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.sendbtn {
    width: 6%;
    min-height: 60px;
    position: absolute;
    left: 91%;
    outline: 1px solid rgb(158, 158, 158);
    background-color: transparent;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.sendbtn:hover {
    outline: 2px solid rgb(158, 158, 158);
}

.sendbtn img {
    width: 55%;
    height: auto;
    opacity: 50%;
}

.sendbtn img:hover {
    width: 65%;
    height: auto;
    opacity: 50%;
}

.select-sheets {
    display: flex;
    align-items: center;
}

.select-sheets {
    display: flex;
    align-items: center;
}