.password-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}

.email-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.otp-input {
    margin-left: 0.3%;
    margin-right: 0.3%;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border-color: rgb(187, 176, 176);
    box-shadow: none;
}
.inputRow {
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.otp-box {
    width: 12%;
    display: flex;
    height: 100%;
    text-align: center;
    font-size: 130%;
    border: 2px solid #BDBDBD;
    box-shadow: none;
}

.otp-message {
    margin-bottom: 1%;
    font-weight: 500;
    font-size: 18px;
}

.unlock-logo {
    width: 70px;
    height: 70px;
    opacity: 50%;
    margin-bottom: 2%;
}

.password-heading {
    margin-bottom: 1%;
}

.email-input {
    height: 1vh;
    width: 22vw;
    border: #BDBDBD solid 2px;
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 1.5%;
    font-size: 18px;
}

.notification {
    margin-top: 1%;
    margin-bottom: 1%;
}

.re-send {
    margin-top: 1%;

}

.new-password-input-container{
    position: relative;
}

.gmail-logo {
    background-color: white;
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6px;
    margin-bottom: 15%;
}

.envelope {
    margin-right: 3%;
}

.btn-send-otp {
    width: 18%;
    margin-top: 1%;
    height: 7vh;
    border-radius: 25px;
    color: #fff;
    font-size: large;
    font-weight: bold;
    background-color: #896aef;
    border: none;
}

.btn-send-otp:active {
    background-color: #673AB7;

}

/* input[type="text"] {
    width: 8%;
    height: 6vh;
    text-align: center;
    font-size: 150%;
    border: 2px solid #BDBDBD;
    box-shadow: none;
    
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.otp-verification-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
}




.btn-reset {
    width: 15%;
    margin-top: 2%;
    height: 6vh;
    border-radius: 30px;
    color: #fff;
    font-size: medium;
    font-weight: bold;
    background-color: #896aef;
    border: none;

}

.btn-reset:active {
    background-color: #673AB7;
}

.password-input{
    padding: 1.5%;
    font-size: 18px;
    height: 7vh;
    width: 22vw;
    margin-bottom: 2%;
    border: #BDBDBD solid 2px;
    border-radius: 10px;
   
   

}

.password-toggle-btn-forgot{
    position: absolute;
    top:25%;
    right:10%;
    background: none;
    border: none;

}