/* body {
    font-family: 'Poppins', sans-serif; 
  } */


.pricing-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pricing-top-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Pricing-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin-top: 5%;
    width: 18%;
    height: 57vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.9s ease;

}

.Pricing-box:hover {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    color: #fff;
    background-color: #673AB7;
    border: 1px solid white;
    margin-top: 4%;
    /* margin-left: 5%; */
    width: 18%;
    height: 64vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);


    .btn-getstarted {
        background-color: #fff;
        font-weight: bold;
        color: #673AB7;
        border: none;
        border-radius: 15px;
        width: 60%;
        height: 5vh;
        margin-top: 10%;

    }

    .price-container {
        background-color: #673AB7;
    }


}

.features {
    width: 80%;
    margin-top: 23%;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.features p {
    margin-bottom: 5%;
    padding-bottom: 0;
}


.btn-getstarted {
    background-color: #673AB7;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 15px;
    width: 60%;
    height: 5vh;
    margin-top: 6%;

}

.pricing-header {
    color: #673AB7;
    margin-top: 1%;
    margin-bottom: 0;
}

.slct-pln {
    margin: 0;

}

.Pricing-box {
    h4 {
        margin-top: 10%;
    }

    h3 {
        margin-top: 5%;
    }

}

.Pricing-box-professional {
    h4 {
        margin-top: 25%;
    }

    h3 {
        margin-top: 5%;
    }

}

.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    height: 8%;
    width: 50%;
    background-color: #F4F6FD;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .pricing-top-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        margin-top: 5%;

    }

    .pricing-box-container {
        flex-direction: column;
        height: 70vh;
        overflow-y: auto;
    }

    .Pricing-box {
        width: 60%;
        height: auto;
        margin-top: 5%;
    }

}