.welcomepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 10%;
    flex-direction: column;
}

.welcome-text {
    font-size: 30px;
}

.welcome-logo {
    height: 150px;
    width: 150px;
    background-image: url('./img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icons-container {
    width: 100%;
    margin-left: 17%;
}

.excel-icon,
.file-icon,
.computer-icon,
.folder-open-icon {
    width: 60px;
    height: 60px;
    color: #2082c4;
    margin: 4%;
    opacity: 25%;
}