.welcomepage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5%;
    flex-direction: column;
}

.welcome-text {
    font-size: 40px;
}

.welcome-logo {
    height: 250px;
    width: 250px;
    /* border: 1px solid black; */
    background-image: url('./img/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icons-container {
    width: 100%;
    margin-left: 17%;
}

.excel-icon,
.file-icon,
.computer-icon,
.folder-open-icon {
    width: 70px;
    height: 70px;
    color: #2082c4;
    margin: 4%;
    opacity: 25%;
}